.wrapper {
  @apply bg-[var(--main-color)] border border-white border-opacity-20 rounded-lg placeholder:text-opacity-80 
  hover:border-[var(--primary-bg-color)] focus:outline-0 focus:border-[var(--primary-bg-color)]
   focus:border-opacity-40 focus:shadow focus:shadow-[var(--primary-bg-color)];
  transition: border 0.4s ease, box-shadow 0.4s ease;
  padding: 0.375rem 0.75rem;
}
